<?xml version="1.0" encoding="UTF-8"?>

	<web-app 
	
		xmlns="http://java.sun.com/xml/ns/javaee"
	  	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	  	version="3.0">
	  	
	  	<jsp-config>
        	<jsp-property-group>
            	<url-pattern>*.jsp</url-pattern>
            	<include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
        	</jsp-property-group>
    	</jsp-config>
    
    	<filter>
    		<filter-name>MemberFilter</filter-name>
    		<filter-class>projectSR03.filters.MemberFilter</filter-class>
		</filter>
		<filter>
    		<filter-name>AdminFilter</filter-name>
    		<filter-class>projectSR03.filters.AdminFilter</filter-class>
		</filter>

		<filter-mapping>
			<filter-name>MemberFilter</filter-name>
			<url-pattern>/MemberPages/*</url-pattern>
		</filter-mapping>
		<filter-mapping>
			<filter-name>AdminFilter</filter-name>
			<url-pattern>/MemberPages/AdminPages/*</url-pattern>
		</filter-mapping>
		
		<servlet>
			<servlet-name>LoginServlet</servlet-name>
			<servlet-class>projectSR03.servlets.LoginServlet</servlet-class>
		</servlet>
		<servlet>
			<servlet-name>HomeAdminServlet</servlet-name>
			<servlet-class>projectSR03.servlets.HomeAdminServlet</servlet-class>
		</servlet>		
		<servlet>
			<servlet-name>HomeStagiaireServlet</servlet-name>
			<servlet-class>projectSR03.servlets.HomeStagiaireServlet</servlet-class>
		</servlet>
		<servlet>
			<servlet-name>ManageUsersServlet</servlet-name>
			<servlet-class>projectSR03.servlets.ManageUsersServlet</servlet-class>
		</servlet>
		<servlet>
			<servlet-name>ManageQuestServlet</servlet-name>
			<servlet-class>projectSR03.servlets.ManageQuestServlet</servlet-class>
		</servlet>
		
		<servlet-mapping>
	    	<servlet-name>LoginServlet</servlet-name>
	    	<url-pattern>/login</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
	    	<servlet-name>HomeAdminServlet</servlet-name>
	    	<url-pattern>/MemberPages/AdminPages/homeAdmin</url-pattern>
		</servlet-mapping>		
		<servlet-mapping>
	    	<servlet-name>HomeStagiaireServlet</servlet-name>
	    	<url-pattern>/MemberPages/StagiairePages/homeStagiaire</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
	    	<servlet-name>ManageUsersServlet</servlet-name>
	    	<url-pattern>/MemberPages/AdminPages/manageUsers</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
	    	<servlet-name>ManageQuestServlet</servlet-name>
	    	<url-pattern>/MemberPages/AdminPages/manageQuest</url-pattern>
		</servlet-mapping>
	</web-app>
