

/* CSS de la barre de pagination */
.page {
	display: inline-block;
    padding: 0;
    margin: 0;
}

.page span{
    margin-left:15px;
    display:inline-block;
}

.page {
    margin:5px 12px !important;
}

#selectPage {
	text-align: center;
}

/** CSS de la grille **/

#portletTrombi {
	margin-top : 20px !important;
} 

/** CSS modal **/

.modal-body {
	visibility : visible;
	text-align: center;
}


.modal-content {
	visibility : hidden;
}
